select {
    width: 100%;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: white;
    font-weight: normal;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
