.cardContentStyle {
    background-color: #c6ecc6;
    color: black;
    padding: 5px;
    text-align:center;
}
.cardStyle {
    margin-bottom: 8px;
}

#cardContent {
    padding: 8px;
    /*text-align: center;*/
}