.cal-container {
  padding : 4%;
}

.rbc-btn-group button {

  color: #FFF;
}

.rbc-allday-cell {
  height: 0px !important;
}

// .rbc-time-view .rbc-row div:nth-child(1) {
//   height: 0px !important;
// }
.rbc-row .rbc-time-header-cell {
  word-wrap: break-word;
  height : 100%;
}

.rbc-today {

  background-color: #D5C7BC;
}