.studyClass {
  background-color: #c18edb !important;
}

.signClass {
  background-color: #98e281 !important;
}

.unavailClass{
  background-color: #c6c6c6 !important;
}

#arrowButton {
  padding: 0px 8px;
}
#cardActions {
  padding: 0px;
}

#cardContent {
  padding-bottom:0px !important;
}
