.choreClass {
  background-color: #d1d1e0 !important;
}

.purchaseClass{
  background-color: #d6f5f5 !important;
}

#arrowButton {
  padding: 0px 8px;
}
#cardActions {
  padding: 0px;
}
#cardContent {
  padding-bottom:0px;
}