.choreClass {
  background-color: #96A3CC !important;
}

.purchaseClass{
  background-color: #d6f5f5 !important;
}

#arrowButton {
  padding: 0px 8px;
}
#cardActions {
  padding: 0px;
}

#cardContent {
  padding-bottom:0px !important;
}
