
.taskPreview {
  font-size: 10px;
  margin: 0px;
}

.taskName {
  margin: 0px;
  color: #3f3f3f;
  font-size: 15px;
}

#TaskHeader {
  margin-right: 0px;
  padding-right: 0px;
}

.headRight {
	float: right;
}

.headLeft {
	float: left;
}
