.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobile-navbar {
  background-color: #333;
  text-align: center;
  position:fixed;
  bottom: 0%;
  width: 100%;
  padding: 20px 0px;
  color: #9d9d9d;
  font-size: 20px;
  margin: 0px;
}

.mobile-item:hover {
  color:white;
}
 
.navbar-collapse.collapse {
  display: flex/*inline-block!important*/;
  
}
   /*
  .navbar-nav>li, .navbar-nav {
  float: left !important;
  justify-content:space-between;
  margin: 0px 13px;
  }
  
 
  .navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
  }
  
  .navbar-right {
  float: right!important;
  }*/