#Settings {
    margin: 0px 10px;
}

#group-join-code {
  background-color: white;
  color: black;
  border: dashed 5px black;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding: 2px;
  margin: 0px 25px;
}

#faded {
  color: #444444;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-style: italic;

}

h2 {
  color: black;
}
