.TaskList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 70px;
  width:100%;
}

#addChoreButton {
  background-color: #d1d1e0;
  margin: 5px;
}

#addPurchaseButton {
  background-color: #d6f5f5;
  margin: 5px;
}

.tab-content {
  margin-top: 10px;
  padding: 0px 10px;
}
